.property {
    position: relative;
    clear: both;
    border-top: 1px solid #cecece;
    overflow: hidden;
    padding: 20px;
    font-size: 14px;
    width: 650px;

    &:first-child {
        border: 0;
    }

    &_type {
        &_advert {
            background-color: #ececec;
        }

        &_development {
            background-color: #fff1ed;
        }
    }

    &_hidden {
        display: none;
    }

    &__photo {
        float: left;
        width: 200px;
        height: 133px;
        margin-right: 20px;
        text-align: center;
        background-color: #efefef;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__photo-link {
        height: 133px;
        display: inline-block;
        overflow: hidden;
    }

    &__photo-link img {
        width: 100%;
    }

    &__info {
        margin-top: 5px;
        font-size: 12px;
        overflow: hidden;
        color: #999999;
        width: 342px;
    }

    &__info-address {
        width: 342px;
        display: block;
        margin-top: 5px;
        margin-left: 200px;
        font-size: 12px;
        color: #999999;
        overflow: hidden;
        height: 15px;
    }

    &__info-address a {
        color: #ff5e24;
        text-decoration: underline;
    }

    &__info-address a:hover {
        text-decoration: none;
    }

    &__info-common,
    dl &__info-admin {
        font-size: 14px;
        width: 233px;
        display: inline-block;
        vertical-align: top;
    }

    &__info-common dt,
    dl &__info-admin dt {
        width: 85px;
        color: #999999;
        float: left;
        clear: both;
        margin-bottom: 8px;
    }

    &__info-common dd,
    dl &__info-admin dd {
        margin-bottom: 8px;
        float: left;
    }

    dl &__info-admin {
        display: block;
        margin-bottom: 10px;
    }

    &__info-finance {
        display: inline-block;
        vertical-align: bottom;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        margin-left: 10px;
    }

    &__info-price {
        font-size: 22px;
        font-weight: bold;
    }

    &__info-date-due {
        color: #999999;
        font-size: 12px;
        display: inline-block;
        line-height: 13px;
        vertical-align: bottom;
    }

    &__info-other {
        width: 100%;
        margin-left: 200px;
        margin-bottom: 10px;
    }

    &__location {
        margin-bottom: 12px;
    }

    &__location a {
        color: black;
    }

    &__location a:hover {
        color: #ff5e24;
    }

    &__author {
        position: absolute;
        top: 19px;
        right: 20px;
    }

    &__author a {
        color: #999999;
        text-decoration: none;
    }

    &__author a:hover {
        color: #333333;
        text-decoration: underline;
    }

    &__author a:hover &__author-image {
        border-color: #333333;
    }

    &__author a &__author-image {
        float: right;
        border: 1px solid #dddddd;
        -webkit-transition: border-color 200ms;
        transition: border-color 200ms;
        padding: 2px;
        height: 70px;
        line-height: 68px;
        background-color: white;
    }

    &__author a &__author-image img {
        display: inline-block;
        width: 70px;
        max-height: 70px;
        vertical-align: middle;
    }

    &__author a &__author-image.is-company {
        border-radius: 2px;
    }

    &__author a &__author-image.is-user {
        border-radius: 27px;
    }

    &__author a &__author-image.is-user img {
        border-radius: 25px;
    }

    &__author a &__author-name {
        clear: both;
        padding-top: 5px;
        width: 70px;
        font-size: 12px;
        text-align: right;
    }

    &.is-extra-development {
        background-color: #e9eaea;
    }

    &.is-extra-development:after {
        display: none;
    }

    &__info-title {
        width: 562px;

        a {
            text-decoration: none;
            font-size: 16px;
        }
    }

    &__info-update {
        font-size: 12px;
        color: #999999;
        line-height: 12px;
        display: inline-block;
        vertical-align: bottom;
    }

    &__footer {
        height: 35px;
        line-height: 35px;
        vertical-align: bottom;
        margin-top: 20px;
        padding-left: 220px;
    }

    &__phone {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #ff5e24;
        padding: 6px;
        margin-top: 11px;
        font-size: 14px;
        color: #ff5e24;

        &_revealed {
            border: 0;
            padding-left: 0;
            cursor: text;
        }
    }

    &__hide {
        float: right;
    }
}
