h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #111;
  clear: both;
}

h1 {
  font-size: 27.854389952340615px;
  margin-top: 0.942400822452556em;
  line-height: 1.130880986943067em;
  margin-bottom: 0.188480164490511em;
}

h2 {
  font-size: 23.53700340860508px;
  margin-top: 1.115265165420465em;
  line-height: 1.338318198504558em;
  margin-bottom: 0.251483121980101em;
}

h3 {
  font-size: 19.88880497489178px;
  margin-top: 1.319837970815179em;
  line-height: 1.583805564978215em;
  margin-bottom: 0.303784103173448em;
}

h4 {
  font-size: 16.806071548796314px;
  margin-top: 1.561935513828041em;
  line-height: 1.87432261659365em;
  margin-bottom: 0.368150361036631em;
}

h5 {
  font-size: 14.201156945318075px;
  margin-top: 1.84844094752817em;
  line-height: 2.218129137033804em;
  margin-bottom: 0.369688189505634em;
}

h6 {
  font-size: 12px;
  margin-top: 2.1875em;
  line-height: 2.625em;
  margin-bottom: 0.619791666666667em;
}
